# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
lovelace:
  mode: yaml
  dashboards:
    casa-de-sowu:
      mode: yaml
      title: Casa de Sowu
      icon: mdi:home
      show_in_sidebar: true
      filename: dashboards/casa_de_sowu.yaml
